// reset provided by nib

global-reset()

// smacss sections

@import 'grid'
@import 'variables'
@import 'mixins'
@import 'base'
@import 'state'
@import 'theme'

// components

@import '../../components/dashboard/main'