doctype html
html
  head
    meta(charset="utf-8")
    title
      block title
        | Bills
    block styles
      link(rel='stylesheet', href='/styles/global.css' )


body
  .wrap

    block content

  block scripts
    script(src="/scripts/compiled/components.js")
